<div class="page-container home-page">
  <aside class="left">
    {{profile-glance user=session.currentUser}}
    <button class="logout" {{action 'logout'}}>Log out</button>
  </aside>

  <main>
    {{tasks-list tasks=model.tasks}}
  </main>
</div>